<h3>Transaction report</h3>
<table class="pure-table-horizontal" style="width: 100%">
  <tbody>
    <tr>
      <td>Code</td>
      <td>{{model.code}}</td>
    </tr>
    <tr>
      <td>Tax date</td>
      <td>{{model.taxDate}}</td>
    </tr>
    <tr>
      <td>Total amount</td>
      <td>{{model.totalAmount}}</td>
    </tr>
    <tr>
      <td>Tax</td>
      <td>{{model.totalTax}}</td>
    </tr>
  </tbody>
</table>
